{% extends 'Backend/base.html.twig' %}

{% block title %}
	Modifier un user
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Modifier un user</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary">Modifier</button>
		{{ form_end(form) }}
		<a href="{{ path('admin.users.index') }}" class="btn btn-secondary mt-4">Retour à la liste</a>
	</section>
{% endblock %}
