{% extends 'base.html.twig' %}

{% block title %}
	Admin des genres
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Admin des genres</h1>
		<a href="{{ path('admin.genders.create') }}" class="btn btn-primary">Créer un genre</a>
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Visibilité</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for gender in genders %}
						<tr>
							<td>{{ gender.id }}</td>
							<td>{{ gender.name }}</td>
							<td>{{ gender.enable ? 'Actif': 'Inactif' }}</td>
							<td>
								<a href="#" class="btn btn-warning">Modifier</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}
